{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/cmsplugin_diff.css" %}" />
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    {% for item in parents %}
    <a href="{{ item.get_absolute_url }}">{{ item.title|default:item }}</a> &rsaquo;
    {% endfor %}
    {{ title|default:"Untitled page" }}
  </div>
{% endblock %}

