{% load i18n humanize %}
<div class="editing" style="padding-left: 20px;">
  <div class="terms">
    {% if object == editing %}
      <dl><dt>{% trans "Page:" %}</dt><dd>{{ editing.page }}</dd></dl>
    {% endif %}
      <dl><dt>{% trans "Date:" %}</dt><dd>{{ editing.date }}</dd></dl>
      <dl><dt>{% trans "Age:" %}</dt><dd>{{ editing.date|naturaltime }}</dd></dl>
      <dl><dt>{% trans "Edited By:" %}</dt><dd>{{ editing.user }}</dd></dl>
      <dl><dt>{% trans "Language:" %}</dt><dd>{{ editing.get_language_display }}</dd></dl>
  </div>

  {% include "cmsplugin_diff/diff.html" with diff=editing.diff %}
</div>
