{% extends "cmsplugin_diff/base.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">
    <div class="module">
      {% include "cmsplugin_diff/unpublished_list.html" %}
    </div>
  </div>
{% endblock %}

