{% load i18n cms_tags menu_tags static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="{% static "admin/img/icon-alert.svg" %}"/>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

    <title>{% page_attribute "page_title" %}</title>
    <meta name="description" content="{% page_attribute meta_description %}"/>

    <!-- Sekizai blocks are deprecated, when django-cms stops using them, remove -->
    {% load sekizai_tags %}{% render_block "css" %}{% render_block "js" %}

  </head>

  <body>
    {% cms_toolbar %}
    <div id="container">
      <div id="header">
        <div id="branding">Django CMS Diff Plugin Demonstration Site</div>
        <div id="user-tools">
          {% if request.user.is_authenticated %}
            <a href="{% url 'admin:logout' %}?next={{ request.path }}">{% trans 'Log out' %}</a>
          {% else %}
            <a href="{% url 'admin:login' %}?next={{ request.path }}">{% trans 'Log in' %}</a>
          {% endif %}
        </div>
      </div>
      <div class="breadcrumbs">
        {% show_menu 0 100 100 100 "menu.html" %}
      </div>

      {% block messages %}
        {% if messages %}
          <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message|capfirst }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock messages %}

      <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% placeholder page_body %}
      </div>

    </div>
  </body>
